@import "@/style/variables";
@import "@/style/reponsive";

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    .name {
        margin: 0.5rem 0 0 0;
    }

    .username {
        font-size: 14px;
        color: $color-text-gray;
        margin-bottom: 1rem;
    }
}

.filterPost {
    margin-top: 2rem;
}

.myPost {
    margin-top: 1rem;
}