@import "@/style/reponsive";

.wrapper {
    position: relative;
    left: 300px;
    width: calc(100% - 300px - 300px);
    padding: 2rem 10rem;

    @include respond-to(tablet) {
        left: 160px;
        width: calc(100% - 160px);
        padding: 0 1rem;
    }

    @include respond-to(mobile) {
        left: 0;
        width: 100%;
        padding: 0 1rem;
    }
}