@import "@/style/variables";
.postWrapper{
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    

    .postContent{
        display: flex;
        gap: 12px;
        align-items: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--color-border);
        justify-content: space-between;
    }
}